.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.option-button,
.option-button-secondary {
  font-size: 1rem;
}

.option-button {
  margin: 20px 0 20px 8px;
  border-radius: 100px;
  padding: 16px;
  border-color: transparent;
  background: #000000;
  color: #ffffff;
  text-align: center;
}

.option-button-secondary {
  margin: 20px 0 20px 8px;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 16px;
  /* border-color: transparent; */
  background: transparent;
  text-align: center;
}
