.App {
  text-align: center !important;
  background-color: #282c34 !important;
  min-width: 100vw !important;
  min-height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Chat */
.react-chatbot-kit-chat-container {
  position: relative !important;
  width: 100vw !important;
  /* height: 84vh!important; */
}

.react-chatbot-kit-chat-inner-container {
  height: 100% !important;
  background-color: #fff !important;
  border-radius: 3px !important;
  margin-bottom: 15px !important;
  border-radius: 5px !important;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  background-color: #efefef !important;
  font-family: Arial !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.85rem !important;
  color: #514f4f !important;
  padding: 12.5px !important;
  font-weight: bold !important;
}

.react-chatbot-kit-chat-input-container {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  display: flex !important;
}

.react-chatbot-kit-chat-message-container {
  height: 84vh !important;
  padding: 0 17.5px 112px 17.5px !important;
  overflow: scroll !important;
}

.react-chatbot-kit-chat-input {
  width: 100% !important;
  padding: 16px !important;
  border: none !important;
  font-size: 1rem !important;
  border-top: 1px solid #d8d8d8 !important;
  border-bottom-left-radius: 5px !important;
}

.react-chatbot-kit-chat-input-form {
  width: 100% !important;
  display: flex !important;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #585858 !important;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2898ec !important;
  width: 100px !important;
  border: none !important;
  color: #fff !important;
  border-bottom-right-radius: 5px !important;
}

.react-chatbot-kit-chat-btn-send-icon {
  fill: #fff !important;
  width: 15px !important;
}

/* Chat User Message */
.react-chatbot-kit-user-chat-message-container {
  display: flex !important;
  margin: 34px 0 !important;
  justify-content: flex-end !important;
}

.react-chatbot-kit-user-avatar-container {
  display: none !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-left: 8px !important;
  background-color: #3d4e8d !important;
  justify-content: center !important;
  align-items: center !important;
}

.react-chatbot-kit-user-avatar-icon {
  display: "none" !important;
  fill: #fff !important;
  width: 15px !important;
  height: 15px !important;
}

.react-chatbot-kit-user-chat-message {
  background-color: #000000 !important;
  padding: 16px !important;
  border-radius: 8px 8px 0px 24px !important;
  font-size: 1rem !important;
  color: #ffffff !important;
  font-weight: medium !important;
  position: relative !important;
  text-align: left !important;
}

.react-chatbot-kit-user-chat-message-arrow {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid #f1f1f1 !important;
  position: absolute !important;
  right: -7px !important;
  top: 13px !important;
}

/* Chat Bot message */
.react-chatbot-kit-chat-bot-message-container {
  display: flex !important;
  margin: 8px 0 !important;
  justify-content: flex-start !important;
  align-items: flex-end !important;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #f1f5f9 !important;
  padding: 16px !important;
  border-radius: 8px 8px 24px 0px !important;
  font-size: 1rem !important;
  color: #000000 !important;
  font-weight: medium !important;
  position: relative !important;
  width: auto !important;
  margin-left: 0 !important;
  text-align: left !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid #2898ec !important;
  position: absolute !important;
  left: -7px !important;
  top: 13px !important;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  height: 8px !important;
  width: 26px !important;
}

.chatbot-loader-container {
  height: 18px !important;
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  transform: scale(0.75) !important;
}

#chatbot-loader #chatbot-loader-dot1 {
  fill: gray !important;
  animation: load 1s infinite !important;
}

#chatbot-loader #chatbot-loader-dot2 {
  fill: gray !important;
  animation: load 1s infinite !important;
  animation-delay: 0.2s !important;
}

#chatbot-loader #chatbot-loader-dot3 {
  fill: gray !important;
  animation: load 1s infinite !important;
  animation-delay: 0.4s !important;
}

@keyframes load {
  0% {
    opacity: 0 !important;
  }
  50% {
    opacity: 1 !important;
  }
  100% {
    opacity: 0 !important;
  }
}
